<address class="contacto-container">
    <h2>ESCRÍBEME...</h2>
    <div class="redes-sociales">
        <a href="https://github.com/pincha1212" target="_blank" rel="noopener" aria-label="Visita mi perfil de GitHub" class="icon github">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/federico-barzola-7138b3216/" target="_blank" rel="noopener" class="icon linkedin">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
        </a>
    </div>
    <div class="correo-container">
        <div class="input-group">
            <input type="text" id="correo" [value]="correo" readonly aria-label="copiar correo">
            <button (click)="copiarCorreo()"> 📋 </button>
        </div>
    </div>
</address>
