.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  background: url('https://i.ibb.co/092r1DH/angular.webp') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; 
}


/* Contenido principal */
.main-content {
  max-width: 1200px; 
}

/* Título principal */
.title {
  font-size: 4rem;
  font-family: "Arial Black", sans-serif;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
               0 0 60px rgba(255, 255, 255, 0.45),
               0 0 110px rgba(255, 255, 255, 0.25),
               0 0 100px rgba(255, 255, 255, 0.1);
}

/* Subtítulo */
.subtitle {
  padding: 2rem;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff4d4d, 0 0 40px #ff4d4d;
  text-align: center;
}
.presentation{
  display: flex;
  justify-content: center; 
  align-items: center;  
}

/* Personalización por posición */
.left-aligned {
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
}

.right-aligned {
  display: flex; 
  justify-content: flex-end;
  align-items: center;
}

.left-aligned, .right-aligned, .spaced-centered {
  height: 100vh;          
  width: 100vw;         
}

