<div class="background">
  <div class="main-content">
    <!-- Hero Section -->
    <div class="spaced-centered presentation" appScrollAnimation>
      <h1 class="title">
        <div class="name"><span class="glitch-letter">F</span>EDERICO</div>
        <div>BARZOLA</div>
      </h1>
      <h3 class="subtitle">Desarrollador web <br> Front-end</h3>
    </div>
    <div class="right-aligned" appScrollAnimation>
      <app-habilidades></app-habilidades>
    </div>
    <div class="left-aligned" appScrollAnimation>
      <app-experiencia></app-experiencia>
    </div>
    <div class="spaced-centered contact-container" appScrollAnimation>
      <app-contacto class="contact-wrapper"></app-contacto>
    </div>
    <app-scroll-indicator></app-scroll-indicator>
  </div>
</div>
  